node_modules
logs
user_data
cookies.json
.qoder
.env
.env.local
.env.dev
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
*.log
.next
.out
.vercel
out
build
dist
.docusaurus
.cache
.yarn
yarn.lock
pnpm-lock.yaml
.pnp.cjs
.DS_Store
.tag_tmp

public/frontend/

# development directories
dev_downloads/
dev_biliup/
danmaku_output/
replay/

test_downloads/
test/tmp_*

# database backups
backups/
__pycache__/
download.log
data/

# IDEs
.workbuddy/
.claude/
qrcode.png
